.dialog-container {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgb(255, 255, 255, 0.8);
  height: 100vh;
  width: 100%;
  z-index: 100;
}
.dialog-box {
  background-color: rgb(199, 199, 199);
  display: inline-block;
  margin-left: calc(50% - 200px);
  margin-top: 200px;
  height: 200px;
  width: 400px;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
}
.dialog-box .btn {
  margin-top: 30px;
}
.dialog-box .cancel,
.confirm {
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  color: #fff;
}
.dialog-box .cancel {
  background-color: rgb(36, 218, 0);
  margin-right: 50px;
}
.dialog-box .confirm {
  background-color: tomato;
}
