.signup-form-container {
  margin: 15vh auto 5vh auto;
  min-height: 45vh;
  width: 50%;
}
.signup-form-container h1 {
  margin-top: 15vh;
  margin-bottom: 20px;
}
@media screen and (max-width: 599px) {
  .signup-form-container h1 {
    margin-top: 0;
  }
  .signup-form-container {
    width: 80%;
  }
}
