.home-inventory-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.single-item {
  transition: all 0.2s;
}
.single-item:hover {
  border-radius: 10px;
  box-shadow: 0 0 10px 10px #7c7c7c;
}
