.navbar {
  width: 100%;
  background-color: rgba(102, 255, 71, 0.2);
}
.brand-container {
  margin-right: 50px;
}
.brand h2 {
  font-size: 26px;
  letter-spacing: 2px;
  font-weight: 700;
  color: rgb(255, 99, 71);
  margin: 0;
}
.brand small {
  display: block;
  text-align: right;
  margin-top: -8px;
  font-size: 11px;
  color: #fff;
}
.navbar-nav {
  text-align: center;
}
.nav-item {
  margin: 10px 10px;
}
.nav-item a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  transition: all 0.2s;
}
.nav-item a:hover {
  color: salmon;
}
.right-items {
  display: flex;
  list-style: none;
  margin-top: 12px;
}
@media screen and (max-width: 990px) {
  .right-items {
    text-align: center;
    margin-right: 30px;
    margin-top: -10px;
    display: block;
  }
}
